{% extends "layout.html" %}
{% block content %}
<h1>Stored Uploads</h1>
<div class="content-section bg-light">
            <div class="container">
                <section class="row">
                        <section class="col-md-4 col-sm-6">
                            {% for images in images_folder %}
                            <img src="{{ url_for('static', filename='sampleplates/' + images) }}" class='img-fluid mx-auto images'><label>{{ images }}</label></img><a href="{{ url_for('preplatecount', Images_id=image_query.id) }}" >Count Colonies</a>
                            {% endfor %}
                        </section>
                </section>
            </div>
</div>
{% endblock content %}

<!DOCTYPE html>
<html lang="en">
<head>
   {% if title %}
        <title>MicroCount - {{title}}</title>
    {% else %}
        <title>MicroCount</title>
    {% endif %}

</head>
<body>

</body>
</html>
