{% extends "layout.html" %}
{% block content %}

    <div class="container" style="background-color: white;">
        <h1>About & News<h1>
            <h2> Utilizing Artificial technologies to make our life easy </h2>
                <body>
                    This web application's focus is to allow Lab Analyst to anayles microbial agar plates with high numbers to colonies using AI object counting algorithms.
                </body>
     </div>
{% endblock content %}

<!DOCTYPE html>
<html lang="en">
<head>
   {% if title %}
        <title>MicroCount - {{title}}</title>
    {% else %}
        <title>MicroCount</title>
    {% endif %}
</head>
<body>

</body>
</html>
